body {
  background: #131313;
  color: #e1e1e1;
  font-weight: 300;
  text-align: center;
}

p {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

h1, h2 {
  font-family: "jaf-bernino-sans", sans-serif;
  font-weight: 700;
}

.intro {
  padding: 200px 0;
  background: white;
  h1 {
    font-size: 3.5rem;
    margin-bottom: 0rem;
    color: #111;
  }
  p {
    font-size: 2.0rem;
    width: 50%;
    margin: auto;
    color: #111;
  }
}

.links {
  padding-top: 15px;
  a {
    font-family: "jaf-bernino-sans", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 5px;
    &.twitter:hover {
      color: #4099FF;
    }
    &.dribbble:hover {
      color: #EA4C89;
    }
    &.email:hover {
      color: #111;
    }
  }
}

.project {
  border-bottom: 1px solid #222;
  h2 {
    font-size: 3.0rem;
    padding-top: 250px;
    margin-bottom: 1.0rem;
  }
  .line {
    width: 2.0rem;
    height: 1px;
    background: #424242;
    margin: auto auto 2.5rem auto;
  }
  .tasks {
    color: #999;
    font-style: oblique;
    margin-bottom: 200px;
  }
  .project-image {
    margin-bottom: 150px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

footer {
  padding: 150px 0;
  background-color: white;
  h2 {
    color: #111;
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: "jaf-bernino-sans", sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .links {
    padding-top: 0;
  }
}

// .navigation {
//   position: fixed;
//   background-color: white;
//   left: 0;
//   z-index: 100;
//   height: 41px;
//   box-shadow: 0 3px 6px rgba(0,0,0,0.2);
//   transition: all 0.5s;
//   &.headroom--unpinned {
//     top: 0;
//     visibility: visible;
//   }
//   &.headroom--pinned {
//     top: 68px;
//     border-top-color: $light-grey;
//     visibility: visible;
//   }
//   &.headroom--top {
//     top: -50px;
//   }
//   nav {
//     padding-top: 8px;
//     display: inline-block;
//     a {
//       text-transform: uppercase;
//       color: darken($light-grey, 20%);
//       text-decoration: none;
//       padding: 8px 10px;
//       margin: 0 10px;
//       border-bottom: 2px solid white;
//       transition: all 0.3s;
//       &.active {
//       }
//       &:hover {
//       }
//     }
//   }
// }