// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1100px" !default;
$bp-larger-than-desktophd : "min-width: 1700px" !default;

// Colors
$light-text : #EAEAEA;
$dark-text : #3F3F40;

div, p, a {
  box-sizing: border-box;
}

.text-container {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 25px;

  @media (#{$bp-larger-than-tablet}) {
    width: 80%;
  }

  @media (#{$bp-larger-than-desktop}) {
    width: 65%;
  }
}